Application{
	
	backgroundColor: #FFFFFF;
	backgroundAlpha: 1;
	paddingLeft: 0;
	paddingRight:0;
	paddingTop:5;
	paddingBottom:0;
	fontSize: 12;
	fontFamily: "Segoe UI";
	backgroundGradientColors: #ffffff, #ffffff;
}

LinkLabel{

	color: #008A00;
}

LinkText{
	
	color: #008A00;
}

.contentWrapper{

	paddingTop:10;
	paddingBottom:10;
	backgroundColor: #FFFFFF;
	backgroundAlpha: 1;
	paddingLeft: 5;
	paddingRight: 5;
	borderColor: #FFFFFF;
	borderAlpha: 0.9;
	borderStyle: solid;
	cornerRadius: 5;
}

PageTitle{
	
	fontSize: 16;
	fontWeight: bold;
}

.pageTitleHrule{

	strokeColor: #000000;
}

.footer{
	
	color: #FFFFFF;
	fontSize: 12;
	verticalAlign: middle;
	paddingLeft: 10;
	paddingRight: 10;
	paddingTop: 10;
	paddingBottom: 10;
	cornerRadius: 5;
}

SectionTitle{

	paddingTop: 15;
	fontSize: 16;
	color: #000000;
}

.sectionTitleRule{

	strokeColor: #000000;
	strokeWidth: 1;
}

ProgressBar {

	borderColor: #ffffff;
	trackColors: #ffffff, #ffffff;
	color: #000000;
	trackHeight: 17;
}

BoxButton{

	paddingLeft:4;
	paddingTop:2;
	paddingRight:5;
	paddingBottom:2;
	color:#FFFFFF;
	fontSize:14;
}

DataGrid{

	headerColors: #FFFFFF, #FFFFFF;
	borderStyle: none;
	horizontalGridLines: false;
	rollOverColor: #ffc40d;
	selectionColor: #00a300;
	textSelectedColor: #ffffff;
	headerStyleName: dataGridHeaderStyle;
	color: #444444;
}

.dataGridHeaderStyle{

	fontSize: 14;
	color: #888888;
}

.userHeaderBox{
	
	color: #FFFFFF;
	fontSize: 16;
	verticalAlign: middle;
	paddingTop: 4;
	paddingBottom: 4;
	paddingLeft: 5;
	paddingRight: 5;
}

QuestionControl{

	verticalGap:2;
	fontSize:14;
}

QuestionDiscussQuestionViewControl{

	verticalGap: 1;
	fontSize:12;
}

QuestionDiscussPopup{
	
	fontSize: 14;
}

